


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #e5e5e5;
    color: #3f3f3f;
    font-size: 16px;
    line-height: 24px;
}

a {
    color: #000088;
}

a:hover {
    color: #880000;
}

#wrap {
    margin: 40px auto;
    width: 1000px;
    background: #fff;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#header {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background: #f9f9f9;
    padding: 15px 0 15px 0;
}

#header h1 {
    margin: 0;
    padding: 0 0 0 20px;
    font-weight: bold;
    color: #3f3f3f;
    font-size: 38px;
    line-height: 65px;
    letter-spacing: -1px;
}

#header h2 {
    margin: 0 0 0 20px;
    padding: 5px 12px;
    font-weight: normal;
    color: #171717;
    font-size: 22px;
    letter-spacing: -1px;
    background: #ea57cd;
    border: 1px solid #fcfcfc;
    display: inline;
}

#topmenu {
    background: #f1f1f1;
    padding: 10px 20px;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
}

#topmenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#topmenu li {
    display: inline;
    padding: 0 20px 0 0
}

#topmenu li a {
    text-decoration: none;
}

.search {
    float: right;
}


#content {
    position: relative;
    float: left;
    width: 100%;
    height: 600px;
    background-image: url('src/website-background-templates.jpg');
    background-clip: border-box;
}

#ownpage{
    position: relative;
    float: left;
    width: 100%;
    height: 1000px;
    background-image: url('src/website-background-templates.jpg');
    background-clip: border-box;
}
.container{
    display: flex;
    max-width: 800px;
    margin-bottom: 90px;
}
#leftcol #rightcol{
    flex: 1;
}

#rightcol{
    margin-left: 100px;
}

.artifacts{
    position: relative;
    float: left;
    width: 100%;
    height: 900px;
    background-image: url('src/website-background-templates.jpg');
    background-clip: border-box;
}

#content h2 {
    font-weight: normal;
    font-size: 22px;
    line-height: 15px;
}


#content h3 {
    font-size: 18px;
    padding-left: 20px;
}

#text{
    width: 500px;
    padding: 0px 0px 0px 10px;
    margin: 0px;
    
}

#text p {
    white-space: pre-line;
}

#resume a{
    margin-left: 0px;
    padding-left: 0px;
}

#homelink{
    margin-left: 0px;
    padding-left: 0px;
}

#side figure{
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.5);
    transform-origin: top right;
    
}
#side figcaption{
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
    font-style: italic;
}

#text a{
    color: #ea577c;
    text-decoration: none;
}

#coursetext p, a{
    padding-left: 25px;
    line-height: 0px;
    text-decoration: none;
    font-size: 16px;
    width: 700px;
}

#reflection{
    padding-left: 25px;
    text-decoration: none;
    font-size: 16px;
    width: 700px;
}

#coursetext a{
    margin-top: 15px;
    display: block;
}

#coursetext h3{
    margin-bottom: 8px;
}

.cleft {
    float: left;
    width: 280px;
    margin: 10px 0;
}

.cright {
    float: right;
    width: 280px;
    margin: 10px 0;
}

#footer {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    background: #283c5b;
    color: #fff;
    padding: 20px;
    border-top: 1px solid #1f1f1f;
    height: 75px;
}

#footer a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px dotted #fff;
}

#footer a:hover {
    border-bottom: 1px dotted #ccc;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}